.home {
  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1em;
}

.home-center-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.motto {
  font-style: italic;
  font-size: 2.5em;
  text-align: center;
  padding: 1em 1em 1em 1em;
}

.link-project {
  max-height: 2em;
  color: blueviolet;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 2em;
}

.link-about {
  color: blueviolet;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 2em;
}

.links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

@media only screen and (min-width: 1024px) {
  .home-center-container {
    flex-direction: row;
  }
  .motto {
    text-align: left;
  }
  .links {
    flex-direction: row;
  }
  .link-project {
    margin-right: 2em;
  }
  .link-about {
    margin-left: 2em;
  }
}
