.home {
  padding-top: 5em;
  min-width: 100vw;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-center-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.motto {
  font-style: italic;
  font-size: 2.5em;
  text-align: center;
  padding: 1em 0 1em 0;
}
.projects-link-container {
  width: 100%;
}
.link-projects {
  max-width: 100%;
  max-height: 100%;
  text-decoration: none;
  font-size: 2em;
}
.projectsLinkRight {
  max-width: 4em;
}

.link-about {
  max-width: 100%;
  max-height: 100%;
  text-decoration: none;
  font-size: 2em;
}
.aboutMeLinkLeft {
  max-width: 4em;
}

.links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

.motto-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1024px) {
  .home-center-container {
    flex-direction: row;
  }
  .motto {
    text-align: left;
    font-size: 3em;
  }
  .motto-container {
    justify-content: left;
    align-items: flex-start;
  }

  .projects-link-container {
    text-align: right;
    padding-right: 6em;
  }

  .motto-container {
    padding-left: 7em;
  }
}
