.home {
  padding-top: 2em;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-center-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.motto {
  font-style: italic;
  font-size: 2.5em;
  text-align: center;
  padding: 1em 0 1em 0;
  color: #707070;
}
.projects-link-container {
  width: 100%;
}
.link-projects {
  color: #999999;

  font-size: 2em;
}

.link-about {
  color: #999999;

  font-size: 2em;
}

.motto-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1024px) {
  .home {
    padding-top: 5em;
  }
  .home-center-container {
    flex-direction: row;
  }
  .motto {
    text-align: left;
    font-size: 3em;
  }
  .motto-container {
    justify-content: left;
    align-items: flex-start;
  }

  .projects-link-container {
    text-align: right;
    margin-right: 10em;
  }

  .motto-container {
    padding-left: 5em;
  }

  .link-projects:hover,
  .link-about:hover {
    color: snow;
  }
}
