.projects-container {
  min-height: 50vh;
  padding-top: 2em;
}
.project-title {
  font-weight: 300;
  font-size: 4em;
}
.neuroArt-link {
  text-decoration: none;
  font-size: 2.5em;
  font-weight: 100;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  border-radius: 25px;
  padding: 0.5em 0.5em 0.5em 0.5em;
}
.projects-title-link-container {
  padding: 4em 0 10em 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.home-link-container {
  width: 100%;
}
.link-home {
  font-size: 2em;
  padding-left: 1em;
}

@media only screen and (min-width: 700px) {
  .projects-title-link-container {
    padding: 4em 0 10em 0;
  }
  .projects-container {
    display: block;
  }

  .project-title {
    font-weight: 300;
    font-size: 5em;
  }
}
@media only screen and (min-width: 1024px) {
  .neuroArt-link {
    transition: background-color 300ms ease-in;
  }
  .neuroArt-link:hover {
    background-color: rgba(255, 250, 250, 0.211);
  }
  .link-home {
    color: #999999;
  }
  .link-home:hover {
    color: snow;
  }
}
