.myExpertise-container {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2em;
}

.title-myExpertise {
  width: 80%;
  font-size: 150%;
  padding: 1em 2em 1em 2em;
  border-bottom: 0.1px solid snow;
  border-radius: 50px;
  font-weight: 300;
}
.about-linkToHome-container {
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.backend-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  font-size: medium;
  font-weight: 100;
  margin: 0.5em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  box-shadow: 2px 2px 2px rgba(131, 131, 131, 0.397);
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 700px) {
  .title-myExpertise {
    font-size: 225%;
  }
  .backend-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  .backend-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .card {
    font-size: large;
  }
}
@media only screen and (min-width: 1024px) {
  .title-myExpertise {
    font-size: 300%;
  }
  .backend-container {
    grid-template-columns: repeat(5, 1fr);
  }
  .card {
    font-size: x-large;
  }
}
