.about-container {
  min-height: 50vh;
}
.about-link-container {
  padding-top: 2em;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4em;
}

.myExpertise-link,
.myVision-link,
.myStory-link {
  text-decoration: none;
  font-weight: 100;
  font-size: 2em;
  min-width: 6em;
  border-bottom: 1px solid white;
  border-radius: 20px;
  padding: 0.5em 1em 0.5em 1em;
  margin: 0 1em 0 1em;
}

.linkToHome {
  max-width: 100%;
  max-height: 100%;
  font-size: 2em;
  padding-right: 1em;
}
.homeLinkRight {
  max-width: 4em;
}
.about-linkToHome-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 4em 2em 0 0;
}

@media only screen and (min-width: 700px) {
}

@media only screen and (min-width: 1024px) {
  .about-link-container {
    flex-direction: row;
  }
  .myExpertise-link:hover,
  .myVision-link:hover,
  .myStory-link:hover {
    transition: background-color 300ms linear;
    background: rgba(255, 250, 250, 0.211);
  }
}
