.neuroArt-container {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em;
  gap: 5em;
}

.content-container {
  max-width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
}
.neuroart-title {
  font-weight: 100;
  font-size: 3em;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  border-radius: 25px;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.btn {
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  outline: 0;
  cursor: pointer;
  text-align: center;
  margin: 0.5em;
  min-height: 50px;
  min-width: 200px;
  color: #ffffff;
  background: #9c9c9c77;
  border-radius: 10px;
  font-weight: 500;
  font-size: 15px;
  box-shadow: rgba(199, 199, 199, 0.1) 1px 1px 1px 2px;
}

.neuroart-links-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
}

.linkToHome {
  color: #999999;
  font-size: 2em;
}

.linkToProjects {
  color: #999999;

  font-size: 2em;
}

.neuroArt-subtitle {
  font-size: 2em;
}
.neuroArt-description {
  font-size: 1.2em;
  text-align: justify;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 2px;
}

@media only screen and (min-width: 700px) {
  .neuroart-title {
    margin-top: 1em;
  }
  .neuroArt-description {
    text-indent: 2em;
    line-height: 1.5em;
  }
  .btn {
    padding: 7px 16px;
    font-size: 20px;
    min-width: 300px;
  }
}

@media only screen and (min-width: 1024px) {
  .content-container {
    max-width: 80%;
  }
  .btn {
    box-shadow: rgba(255, 250, 250, 0.08) 1px 3px 2px 4px;
    background: #9c9c9c00;
    padding: 7px 16px;
    font-size: 20px;
    min-width: 250px;
    transition: background-color 300ms ease-in;
    outline: 1px solid transparent;
    background: rgba(255, 250, 250, 0.053);
  }
  .btn:active {
    box-shadow: rgba(127, 127, 127, 0.1) 0 3px 2px 4px;
    transform: translate(1px, 3px);
  }
  .btn:hover {
    background: rgb(255, 250, 250, 0.211);
    border: 1px solid rgba(255, 250, 250, 0.1);
  }

  .buttons {
    flex-direction: row;
    justify-content: space-between;
  }
  .linkToHome:hover,
  .linkToProjects:hover {
    color: snow;
  }
}
