.neuroArt-container {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em;
  gap: 3em;
}

.content-container {
  max-width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
.neuroart-title {
  font-weight: 100;
  font-size: 3em;
  border-right: 1px solid snow;
  border-left: 1px solid snow;
  border-radius: 25px;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  text-align: center;
  border: 1px solid #ffffff;
  padding: 7px 16px;
  min-height: 50px;
  min-width: 75px;
  color: #ffffff;
  background: #9c9c9c77;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
}

.neuroart-links-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
}

.linkToHome {
  max-width: 100%;
  max-height: 100%;
  font-size: 2em;
}
.homeLinkLeft {
  max-width: 4em;
}

.linkToProjects {
  max-width: 100%;
  max-height: 100%;
  font-size: 2em;
}
.projectsLinkLeft {
  max-width: 4em;
}

.neuroArt-subtitle {
  font-size: 2em;
  font-weight: 300;
}
.neuroArt-description {
  font-size: 1em;
  text-align: center;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 2px;
}

@media only screen and (min-width: 700px) {
  .neuroArt-description {
    text-align: left;
    text-indent: 2em;
    line-height: 1.5em;
  }
}

@media only screen and (min-width: 1024px) {
  .btn {
    background: #9c9c9c00;
  }
  .btn:hover {
    background: #9c9c9c77;
    outline: 1px solid transparent;
  }
}
