.footer {
  text-align: right;
  max-width: 100%;
  max-height: fit-content;
  padding: 3em 1.5em 0 0;
  margin: auto;
}

@font-face {
  font-family: sequel;
  src: url("../../fonts/sequel-100-black-106\ 3.ttf") format("truetype");
}
.full-stack,
.developer {
  font-family: "sequel", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  font-style: oblique;
  text-align: right;
  color: rgba(255, 250, 250, 0.05);
  /* -webkit-text-stroke-color: #8484847e;
  -webkit-text-stroke-width: 1px; */
  transition: background-color 300ms linear;
  padding: 0;
  margin: 0;
  line-height: 100%;
}

.full-stack {
  font-size: 1em;
}

@media only screen and (min-width: 700px) {
  .footer {
    margin-right: 1em;
  }
  .full-stack {
    font-size: 2em;
  }
  .developer {
    font-size: 4em;
  }
}

@media only screen and (min-width: 1250px) {
  .full-stack {
    font-size: 5em;
  }
  .developer {
    font-size: 7em;
    bottom: 0;
  }
}
