.footer {
  text-align: right;
  max-width: 100%;
  max-height: fit-content;
  padding: 3em 1.5em 0 0;
  margin: auto;
}

@import url("https://db.onlinewebfonts.com/c/d002e7c91b889cc10ce21789cfde95dd?family=Sequel100Wide-95");

.full-stack,
.developer {
  font-family: "Sequel100Wide-95", sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  font-style: oblique;
  text-align: right;
  color: rgba(255, 250, 250, 0.05);
  /* -webkit-text-stroke-color: #8484847e;
  -webkit-text-stroke-width: 1px; */
  transition: background-color 300ms linear;
  padding: 0;
  margin: 0;
  line-height: 100%;
}

.full-stack {
  font-size: 2em;
}

@media only screen and (min-width: 700px) {
  .footer {
    margin-right: 1em;
  }
  .full-stack {
    font-size: 4em;
  }
  .developer {
    font-size: 5em;
  }
}
@media only screen and (min-width: 1250px) {
  .full-stack {
    font-size: 6em;
  }
  .developer {
    font-size: 8em;
    bottom: 0;
  }
}
